Source: babachain
Section: utils
Priority: optional
Maintainer: Holger Schinzel <holger@babachain.org>
Uploaders: Holger Schinzel <holger@babachain.org>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libdb4.8++-dev,
 pkg-config,
 libevent-dev,
 libboost-filesystem1.48-dev | libboost-filesystem-dev (>> 1.47),
 libboost-thread1.48-dev | libboost-thread-dev (>> 1.47),
 libboost-test1.48-dev | libboost-test-dev (>> 1.47),
 libminiupnpc8-dev | libminiupnpc-dev,
 qt4-qmake, libqt4-dev,
 qttools5-dev-tools, qttools5-dev,
 libqrencode-dev,
 python,
 libzmq3-dev
Standards-Version: 3.9.2
Homepage: https://www.babachain.org/
Vcs-Git: git://github.com/babachainpay/babachain.git
Vcs-Browser: https://github.com/babachainpay/babachain

Package: babachaind
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 BabaChain is an experimental new digital currency that enables instant, private
 payments to anyone, anywhere in the world. BabaChain uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. BabaChain Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, babachaind, and the CLI tool
 babachain-cli to interact with the daemon.

Package: babachain-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 BabaChain is an experimental new digital currency that enables instant, private
 payments to anyone, anywhere in the world. BabaChain uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. BabaChain Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides BabaChain-Qt, a GUI for BabaChain based on Qt.

Package: babachain-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 BabaChain is an experimental new digital currency that enables instant, private
 payments to anyone, anywhere in the world. BabaChain uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. BabaChain Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides babachain-tx, a command-line transaction creation
 tool which can be used without a babachain daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
